@model inmobiliaria.Models.Contratos

@{
    ViewData["Title"] = "Detalles Contrato";
}

<h1 class="text-center text-light">Informacion del Contrato</h1> 
<h4><a asp-action="Index" ><button type="button" class="btn btn-secondary"><i class="fa-solid fa-arrow-left"></i></button></a></h4>
<div class="container d-flex flex-column justify-content-between align-items-center">
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10 text-light">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class = "col-sm-10 text-light">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class = "col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>
        <dd class = "col-sm-10 text-light">
            @Html.DisplayFor(model => model.FechaFin)
        </dd>
        <dt class = "col-sm-2 text-light">
            Inquilino
        </dt>
        <dd class = "col-sm-10 text-light">
            @Html.ActionLink(Model.InquilinoId.UsuarioId.Nombre+" "+Model.InquilinoId.UsuarioId.Apellido, "Details","Usuarios", new { id=Model.InquilinoId.Id })
        </dd>
        <dt class = "col-sm-2 text-light">
            Inmueble
        </dt>
        <dd class = "col-sm-10 text-light">
            @Html.ActionLink("Detalles del Inmueble", "Details","Inmuebles", new { id=Model.InmuebleId.Id })
        </dd>
        <dt class = "col-sm-2 text-light">
            Estado
        </dt>
        <dd class = "col-sm-10 text-light">
            @Html.DisplayFor(model => model.TipoEstadoId.Descripcion)
        </dd>
        <dt class = "col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.Importe)
        </dt>
        <dd class = "col-sm-10 text-light">
            @Html.DisplayFor(model => model.Importe)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id=@Model.Id><button type="button" class="btn btn-warning" >Editar <i class="fa-regular fa-pen-to-square"></i></button></a>
</div>
