@model inmobiliaria.Models.Inmuebles

@{
    ViewData["Title"] = "Crear Inmueble";
    var TiposUso = ViewBag.TiposUsos;
    var TiposEstado = ViewBag.TiposEstados;
    var TiposInmuble = ViewBag.TiposInmueble;
    var Usuarios = ViewBag.Usuarios;
}

<h1 class="text-center text-light">Cree un Inmueble</h1>
<h4><a asp-action="Index" ><button type="button" class="btn btn-secondary"><i class="fa-solid fa-arrow-left"></i></button></a></h4>
<hr />
<div class="container d-flex flex-column justify-content-between align-items-center">
    <div class="col-md-4">
        <form asp-action="Create" id="create" style="max-width: 500px;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label text-light"></label>
                <input asp-for="Direccion" value=@ViewBag.Direccion class="form-control" required/>
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropietarioId" class="control-label text-light"></label>
                <select asp-for="PropietarioId.Id" class="form-select">
                    <option value=0>Elige un Propietario</option>
                    @{foreach(var item in Usuarios){
                            @:<option value=@item.Id @(item.Id==ViewBag.PropietarioId ? "selected" : "" )>Id:@item.Id | FullName:@item.Nombre @item.Apellido | DNI:@item.DNI</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CA" class="control-label text-light"></label>
                <input asp-for="CA" value=@ViewBag.CA class="form-control" value="" required/>
                <span asp-validation-for="CA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitud"  class="control-label text-light"></label>
                <input asp-for="Latitud" value=@ViewBag.Latitud class="form-control" required/>
                <span asp-validation-for="Latitud" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Longitud" class="control-label text-light"></label>
                <input asp-for="Longitud" value=@ViewBag.Longitud  class="form-control" required/>
                <span asp-validation-for="Longitud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoUsoId" class="control-label text-light"></label>
                <select asp-for="TipoUsoId.Id" class="form-select">
                    <option value=0>Elige un Tipo de Uso</option>
                    @{foreach(var item in TiposUso){
                            @:<option value=@item.Id @(item.Id==ViewBag.TipoUso ? "selected" : "" )>@item.Descripcion</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="TipoInmuebleId" class="control-label text-light"></label>
                <select asp-for="TipoInmuebleId.Id" class="form-select">
                    <option value=0>Elige un Tipo de Inmueble</option>
                    @{foreach(var item in TiposInmuble){
                            @:<option value=@item.Id @(item.Id==ViewBag.TipoInmueble ? "selected" : "" )>@item.Descripcion</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label text-light"></label>
                <input asp-for="Precio" value=@ViewBag.Precio class="form-control" value="" required/>
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label text-light">Fecha de Inicio</label>
                <input asp-for="FechaInicio" type="datetime-local" value=@ViewBag.FechaInicio class="form-control" required/>
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFin" class="control-label text-light">Fecha de Fin</label>
                <input asp-for="FechaFin" type="datetime-local" value=@ViewBag.FechaFin  class="form-control" required/>
                <span asp-validation-for="FechaFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" style="width: 100%;"/>
            </div>
        </form>
    </div>
</div>

