@model inmobiliaria.Models.Inmuebles

@{
    ViewData["Title"] = "Detalles Inmueble";
}

<h1 class="text-center text-light">Informacion del Inmueble</h1> 
<h4><a asp-action="Index" ><button type="button" class="btn btn-secondary"><i class="fa-solid fa-arrow-left"></i> Ver Inmuebles</button></a></h4>
 <hr />
  <div class="container d-flex flex-column justify-content-between align-items-center">
    <div class="container d-flex">
        <div class="container">
            <p class = "text-light text-center">
                Id
            </p>
            <p class = " text-light text-center">
                Direccion
            </p>
            <p class = " text-light text-center">
                Tipo Estado
            </p>
            <p class = " text-light text-center">
                Cantidad de Ambientes
            </p>
            <p class = " text-light text-center">
                Tipo de Uso
            </p>
            <p class = " text-light text-center">
                Latitud
            </p>
            <p class = " text-light text-center">
                Longitud
            </p>
            <p class = " text-light text-center">
                Propietario
            </p>
            <p class = " text-light text-center">
                Tipo de Inmuble
            </p>
            <p class = " text-light text-center">
                Precio
            </p>
            
        </div>
        <div class="container">
            <p class = "text-light text-start">
                @Html.DisplayFor(model => model.Id)
            </p>
            <p class = "text-light text-start">
                @Html.DisplayFor(model => model.Direccion)
            </p>
            <p class = "text-light text-start">
                @Html.DisplayFor(model => model.CA)
            </p>
            <p class = "text-light text-start">
                @Html.DisplayFor(model => model.TipoUsoId.Descripcion)
            </p>
            <p class = "text-light text-start">
                @Html.DisplayFor(model => model.Latitud)
            </p>
            <p class = "text-light text-start">
                @Html.DisplayFor(model => model.Longitud)
            </p>
            <p class = "text-light text-start">
                 @Html.ActionLink(@Model.PropietarioId.UsuarioId.Nombre+" "+@Model.PropietarioId.UsuarioId.Apellido, "Details","Usuarios", new { id=@Model.PropietarioId.Id })
            </p>
            <p class = "text-light text-start">
                @Html.DisplayFor(model => model.TipoInmuebleId.Descripcion)
            </p>
            <p class = "text-light text-start">
                @Html.DisplayFor(model => model.Precio)
            </p>
        </div>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id=@Model.Id ><button type="button" class="btn btn-warning" >Editar<i class="fa-regular fa-pen-to-square"></i></i></button></a>
    </div>
 </div>