@model inmobiliaria.Models.Inmuebles

@{
    ViewData["Title"] = "Detalles Inmueble";
}

<h1 class="text-center text-light">Informacion del Inmueble</h1> 
<h4><a asp-action="Index" ><button type="button" class="btn btn-secondary"><i class="fa-solid fa-arrow-left"></i></button></a></h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10 text-light">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10 text-light">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2 text-light">
            Tipo de Estado
        </dt>
        <dd class = "col-sm-10 text-light">
            @Html.DisplayFor(model => model.TipoEstadoId.Descripcion)
        </dd>
        <dt class = "col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.CA)
        </dt>
        <dd class = "col-sm-10 text-light">
            @Html.DisplayFor(model => model.CA)
        </dd>
        <dt class = "col-sm-2 text-light">
            Tipo de Uso
        </dt>
        <dd class = "col-sm-10 text-light">
            @Html.DisplayFor(model => model.TipoUsoId.Descripcion)
        </dd>
        <dt class = "col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.Latitud)
        </dt>
        <dd class = "col-sm-10 text-light">
            @Html.DisplayFor(model => model.Latitud)
        </dd>
        <dt class = "col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.Longitud)
        </dt>
        <dd class = "col-sm-10 text-light">
            @Html.DisplayFor(model => model.Longitud)
        </dd>
        <dt class = "col-sm-2 text-light">
            Propietario
        </dt>
        <dd class = "col-sm-10 text-light">
             @Html.ActionLink(@Model.PropietarioId.UsuarioId.Nombre+" "+@Model.PropietarioId.UsuarioId.Apellido, "Details","Usuarios", new { id=@Model.PropietarioId.Id })
        </dd>
        <dt class = "col-sm-2 text-light">
            Tipo de Inmueble
        </dt>
        <dd class = "col-sm-10 text-light">
            @Html.DisplayFor(model => model.TipoInmuebleId.Descripcion)
        </dd>
        <dt class = "col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10 text-light">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class = "col-sm-10 text-light">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class = "col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>
        <dd class = "col-sm-10 text-light">
            @Html.DisplayFor(model => model.FechaFin)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id=@Model.Id><button type="button" class="btn btn-warning" >Editar <i class="fa-regular fa-pen-to-square"></i></i></button></a>
</div>