@model inmobiliaria.Models.Inmuebles

@{
    ViewData["Title"] = "Editar Inmueble";
    var TiposUso = ViewBag.TiposUsos;
    var TiposEstado = ViewBag.TiposEstados;
    var Usuarios = ViewBag.Usuarios;
     var TiposInmuble = ViewBag.TiposInmueble;
}
<h1 class="text-center text-light">Editar Inmueble</h1> 
<h4><a asp-action="Index" ><button type="button" class="btn btn-secondary"><i class="fa-solid fa-arrow-left"></i> Ver Inmuebles</button></a></h4>

<hr />
<div class="container d-flex flex-column justify-content-between align-items-center">
    <div class="col-md-4">
        <form asp-action="Edit" id="update">
            <div class="form-group">
                <label asp-for="Id" class="control-label text-light"></label>
                <p class="text-light">@Html.DisplayFor(model => model.Id)</p>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label text-light "></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropietarioId" class="control-label text-light"></label>
                <select asp-for="PropietarioId.Id" class="form-select">
                    @{foreach(var item in Usuarios){
                            @:<option value=@item.Id @(item.Id==Model.PropietarioId.Id ? "selected" : "") >@item.toString()</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CA" class="control-label text-light"></label>
                <input asp-for="CA" class="form-control" />
                <span asp-validation-for="CA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitud" class="control-label text-light"></label>
                <input asp-for="Latitud" class="form-control" />
                <span asp-validation-for="Latitud" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Longitud" class="control-label text-light"></label>
                <input asp-for="Longitud" class="form-control" />
                <span asp-validation-for="Longitud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoUsoId" class="control-label text-light"></label>
                <select asp-for="TipoUsoId.Id " class="form-select">
                    @{foreach(var item in TiposUso){
                            @:<option value=@item.Id @(item.Id==Model.TipoUsoId.Id ? "selected" : "")>@item.Descripcion</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="TipoEstadoId" class="control-label text-light"></label>
                <select asp-for="TipoEstadoId.Id" class="form-select">
                    @foreach(var item in TiposEstado){
                         @if(item.Descripcion == "Habilitado" || item.Descripcion == "DesHabilitado"  )
                        {
                            @:<option value=@item.Id @(item.Id==Model.TipoEstadoId.Id ? "selected" : "")>@item.Descripcion</option>
                        }
                    }
                </select>
            </div>
             <div class="form-group">
                <label asp-for="TipoInmuebleId" class="control-label text-light"></label>
                <select asp-for="TipoInmuebleId.Id" class="form-select">
                    @{foreach(var item in TiposInmuble){
                            @:<option value=@item.Id @(item.Id==Model.TipoInmuebleId.Id ? "selected" : "")>@item.Descripcion</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label text-light"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" style="width:100%;"/>
            </div>
        </form>
    </div>
</div>

